PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/voteloop
PGSSL=false

# Notifications Discord (optionnel)
DISCORD_WEBHOOK_URL=
# Si tu veux pinguer quelqu'un, mets son ID ici (ex: 123456789012345678)
DISCORD_PING_USER_ID=

# Notifications Telegram (optionnel)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
